.project-item{
    position: relative;
    display: flex;
}
.project-item .content{
    position: absolute;
    background: rgba(19, 19, 19, 0.5);
    height: 100%;
    width: 100%;
    max-width: 101%;
    /* min-width: 100%; */
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.project-item .content:hover{
    opacity: 1;
}
.project-item .type{
    letter-spacing: 2px;
    font-size: 1.1em;
}
.project-item .description{
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 2px;
}
.project-item img{
    margin:auto auto;
    max-width: 100%;
}
.project-item .demo{
    background: rgba(255, 255, 255, 0.2);
}

.row{
    margin-bottom: 57px;
}