<div style="overflow: hidden;">
  <div class="row" *ngFor="let pro of projects">
    <div class="col-md-6 project-item" *ngFor="let item of pro" (click)="open(item.url)">
      <div class="content">
        <h3 class="title">{{item.name}}</h3>
        <p class="type">{{item.type}}</p>
        <p class="description">{{item.info}}</p>
      </div>
      <img class='demo' [lazyLoad]="item.img" [defaultImage]="item.def">
    </div>
  </div>

  <h3>Javascript Canvas</h3>
  <div>
    <div class="row" *ngFor="let pro of canvasProjects">
      <div class="col-md-4 project-item" *ngFor="let item of pro" (click)="open(item.url)">
        <div class="content">
          <h3 class="title">{{item.name}}</h3>
          <p class="type">{{item.type}}</p>
          <p class="description">{{item.info}}</p>
        </div>
        <img class='demo' [lazyLoad]="item.img" [defaultImage]="item.def">
      </div>
    </div>
  </div>