<!-- <a href="">YOUTUBE</a> -->
<div>
  <div class="row" (click)="link('https://www.hackerrank.com/NavonilDas')">
    <div class="no">1</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/hackerrank.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://www.hackerrank.com/NavonilDas">HACKERRANK</a>

    </div>
  </div>
  <div class="row" (click)="link('https://www.interviewbit.com/profile/navonil-das')">
    <div class="no">2</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/ib.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://www.interviewbit.com/profile/navonil-das">INTERVIEWBIT</a>

    </div>
  </div>
  <div class="row" (click)="link('https://www.hackerearth.com/@navneeladas')">
    <div class="no">3</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/he.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://www.hackerearth.com/@navneeladas">HACKEREARTH</a>

    </div>
  </div>
  <div class="row" (click)="link('https://github.com/NavonilDas/')">
    <div class="no">4</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/github.png'" style="background: #fff;" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://github.com/NavonilDas/">GITHUB</a>

    </div>
  </div>
  <div class="row" (click)="link('https://www.linkedin.com/in/navonil-das-161838150/')">
    <div class="no">5</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/lin.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://www.linkedin.com/in/navonil-das-161838150/">LINKEDIN</a>

    </div>
  </div>
  <div class="row" (click)="link('https://www.instagram.com/krackthecode/')">
    <div class="no">6</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/insta.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://www.instagram.com/krackthecode/">INSTAGRAM</a>

    </div>
  </div>
  <div class="row" (click)="link('https://leetcode.com/navonil/')">
    <div class="no">7</div>
    <div class="icon">
      <img [lazyLoad]="'../assets/lc.png'" [defaultImage]="''">
    </div>
    <div class="title">
      <a href="https://leetcode.com/navonil/">LEETCODE</a>
    </div>
  </div>
</div>