.skills{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill{
    max-width: 100px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}